<div class="w-full">
  <form class="example-form flex-1 w-full" [formGroup]="playersFormGroup">
    <mat-form-field>
      <mat-label>Acces Code</mat-label>
      <input matInput formControlName="codeAccesFormControl" />
    </mat-form-field>
    <br />
    <span class="font-bold"
      >pasted lines should be in this format (from xls/xlsx or google sheets)
      :</span
    >
    <br />
    <span class="whitespace-nowrap"
      >first name-[tabulation]-last name-[tabulation]-year of
      birth-[tabulation]-player id-[line break]</span
    >
    <br>
    <span>make sure there is no extra empty line at the end of the list</span>
    <mat-form-field class="example-full-width mt-4">
      <mat-label>Player list</mat-label>
      <textarea
        matInput
        placeholder=""
        formControlName="playersInputFormControl"
      ></textarea>
    </mat-form-field>

    <button mat-flat-button (click)="clickTransform()">Transform</button
    ><span class="text-red-600 bold" *ngIf="isCodeInError"
      >You need a valid access code</span
    >

    <mat-form-field class="example-full-width mt-4">
      <mat-label>Players output</mat-label>
      <textarea
        matInput
        placeholder=""
        formControlName="playersOutputFormControl"
        [readonly]="true"
      ></textarea>
    </mat-form-field>
  </form>
</div>
