<form class="example-form" [formGroup]="playersFormGroup">

  <mat-form-field>
    <mat-label>Acces Code</mat-label>
    <input matInput formControlName="codeAccesFormControl">
  </mat-form-field>
  {{playersFormGroup.get("codeAccesFormControl")?.value}}

  <mat-form-field class="example-full-width">
    <mat-label>Player list</mat-label>
    <textarea matInput placeholder="" formControlName="playersInputFormControl"></textarea>
  </mat-form-field>


  <button mat-flat-button (click)="clickTransform()">Transform</button><span class="text-red-600 bold" *ngIf="isCodeInError">You need a valid access code</span>

  <mat-form-field class="example-full-width">
    <mat-label>Players tdf</mat-label>
    <textarea matInput placeholder="" formControlName="playersOutputFormControl"></textarea>
  </mat-form-field>
</form>
