<div
  class="flex flex-row flex-nowrap justify-between items-center min-h-12 bg-cyan-300"
>
  <div class="ml-1 flex flex-row items-center">
    <button
      mat-icon-button
      color="primary"
      aria-label="Example icon button with a home icon"
      class="mr-2"
    >
      <mat-icon>home</mat-icon>
    </button>
    <button mat-flat-button class="mr-2" (click)="navigateToPlayer()">
      Player
    </button>
    <button mat-flat-button class="mr-2" (click)="clickOnStaff()">Staff</button>
  </div>
  <div class="">
    <span class="text-3xl font-bold">tcg compagnon</span>
  </div>
  <div class="">
    <span>made by Bromy - V {{ vers }}</span>
  </div>
</div>
<router-outlet></router-outlet>
